div {
    color:white;
    background-color: black;
}

a {
    color:red;
    background-color:aqua;
}

h1, h2{
    text-align:center;
    color: red;
    font-size: 34px;
}

ul{
    text-shadow:aqua;
}

.desc{
    font-size: 12px;
    text-align: justify;
}